@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.navbar {
	background-color: #4099FF;
	color: white;
	font-weight: bold;
}

@media screen and (min-width: 768px) {

	.navbar {

	}

}

@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {


}	