@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);


.navbar {
	background-color: #4099FF;
	font-weight: bold;
	font-size: 24px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
	font-size: 26px;
	font-family: Lobster
}

#democrats {
	color: blue;
}

#republicans {
	color: red;
}

#politweets {
	color: white;
}

#outershell {
	background-color: #4099FF;
	-moz-border-radius: 6px; 
 	border-radius: 6px; /* standards-compliant: (IE) */ 
 	width: 350px;
}

#welcome {
	padding: 7px;
	-moz-border-radius: 6px 6px 0 0;
 	border-radius: 6px 6px 0 0; /* standards-compliant: (IE) */
}

.form-group{
	background-color: lightgray;
	padding: 10px;
	-moz-border-radius: 6px 6px 0 0;
 	border-radius: 6px 6px 0 0; /* standards-compliant: (IE) */
}

.pollStuff {
	width: 30%;
	display: inline-block;
}