<div class ="container" id ="goals">
	<h1 id="home-title"><strong>Welcome to <span id="politweets-black">PoliTweets!</span></strong></h1>
	<h2 id="overview-title"><strong>Site Overview:<strong><h2>
	<p id="overview"><span id="politweets-black">PoliTweets</span> is a site where users can see what others are saying about political candidates, create and vote on various polls, and view beautiful charts with aggregated data.</p>
	<h2 id="stories-title"><strong>User Stories (Who, What, Why?)</strong></h2>
	<ul> 
		<li> As a registered voter, I want to see an aggregated view of what others are saying on Twitter about a candidate, so that I can be informed. </li>
		<li> As an opinionated voter, I want to vote on polls for topics that I am passionate about, so that I can voice my opinion. </li>
		<li> As an undecided voter, I want to view charts of poll results, so that I can make inferences about how the general public feels about an issue. </li>
		<li> As an avid tweeter, I want to be able to post a tweet on my Twitter from the homepage, so that I can share my views with my friends and invite them to check out Political Twitter. </li>
	</ul>

	<p id="video-desc"> If you need help familiarizing yourself with this years candidates, we have included both the first Democratic debate as well as the first GOP debate </p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/gHUmhGs1b7A?rel=0" frameborder="0" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Mr1KJR5UZjM?rel=0" frameborder="0" allowfullscreen></iframe>

</div>