 <div class="row">
  <div class="col-md-4">
    <a href="./img/meme1.jpg" class="thumbnail">
      <img src="./img/meme1.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme2.jpg" class="thumbnail">
      <img src="./img/meme2.jpg" alt="meme" style="width:400px;height:200px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme3.jpg" class="thumbnail">
      <img src="./img/meme3.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme4.jpg" class="thumbnail">
      <img src="./img/meme4.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme5.jpg" class="thumbnail">
      <img src="./img/meme5.jpg" alt="meme" style="width:400px;height:200px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme6.jpg" class="thumbnail">
      <img src="./img/meme6.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme7.jpg" class="thumbnail">
      <img src="./img/meme7.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme8.jpg" class="thumbnail">
      <img src="./img/meme8.jpg" alt="meme" style="width:400px;height:200px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme9.jpg" class="thumbnail">
      <img src="./img/meme9.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme10.jpg" class="thumbnail">
      <img src="./img/meme10.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme11.jpg" class="thumbnail">
      <img src="./img/meme11.jpg" alt="meme" style="width:400px;height:200px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./img/meme12.jpg" class="thumbnail">
      <img src="./img/meme12.jpg" alt="meme" style="width:400px;height:400px">
    </a>
  </div>  
</div>