
<h1 id="title">Welcome to PoliTweets!</h1>
<div class="row" ng-controller="FeedCtrl">
	<div class="col-md-3">
		<div class="form-group">
			<h3>Democrats</h3>
			<label ng-repeat="candidate in candidates | filter: Party = 'Democrat'">
				<input type="radio" name="politician" ng-model="$parent.currentCandidate" ng-value="candidate" ng-change="loadWidgets($parent.currentCandidate.WidgetID)">&emsp;{{candidate.Name}}&emsp;</label><br>
			<h3>Republicans</h3>
			<label ng-repeat="candidate in candidates | filter: Party = 'Republican'">
				<input type="radio" name="politician" ng-model="$parent.currentCandidate" ng-value="candidate" ng-change="loadWidgets($parent.currentCandidate.WidgetID)">&emsp;{{candidate.Name}}&emsp;</label>

		</div>
	</div>
	<div class="col-md-9">
	<!-- Here we will be showing the twitter feeds of each of the candidates that are selected. We need to choose a default though, so there isnt a bunch of blank space. -->
		<h2 ng-if="currentCandidate">What are people saying about: <strong>{{currentCandidate.Name}}</strong>?</h2>
		<h2 ng-if="!currentCandidate">What are people saying about: <strong>____________<strong>?</h2>
		<div id="timeline"></div>
	</div>
	<div class="col-md-2"></div>
<div class="row"></div>
</div>
