
<h1 id="title"><strong>Your Political Feed</strong></h1>
<div class="row" ng-controller="FeedCtrl">
	<div class="col-md-3">
		<div class="form-group">
			<h3 id="democrats">Democrats</h3>
			<label ng-repeat="candidate in candidates | filter: Party = 'Democrat'">
				<input type="radio" name="politician" ng-model="$parent.currentCandidate" ng-value="candidate" ng-change="loadWidgets($parent.currentCandidate.WidgetID)">&emsp;{{candidate.Name}}&emsp;</label><br>
			<h3 id="republicans">Republicans</h3>
			<label ng-repeat="candidate in candidates | filter: Party = 'Republican'">
				<input type="radio" name="politician" ng-model="$parent.currentCandidate" ng-value="candidate" ng-change="loadWidgets($parent.currentCandidate.WidgetID)">&emsp;{{candidate.Name}}&emsp;</label>

		</div>
	</div>
	<div class="col-md-9">
	<!-- Here we will be showing the twitter feeds of each of the candidates that are selected. We need to choose a default though, so there isnt a bunch of blank space. -->
		<div id="outershell"><h2 id="welcome">Welcome to <span id="politweets">PoliTweets!</span></h2></div>
		<h3 ng-if="currentCandidate">What are people saying about: <strong>{{currentCandidate.Name}}</strong>?</h3>
		<h3 ng-if="!currentCandidate">What are people saying about: <strong>____________<strong>?</h3>
		
		<div id="timeline"></div>
	</div>
	<div class="col-md-2"></div>
<div class="row"></div>
</div>
