<!-- not sure if we need to have varying canvas sizes or if that is implementable -->
<div class="container">
	<select id="chooseChart" ng-model="select" ng-Change="indexChange()">
		<option value="democratic">Democratic Polls</option>
		<option value="republican">Republican Polls</option>
		<option value="demOH">Ohio Democratic Polls</option>
		<option value="gopOH">Ohio Republican Polls</option>
	</select>

	<canvas id="percentages" width="400" height="400"></canvas>
	<br></br>

	<!-- for showing a large number of candidates (number of votes?) -->
	<canvas id="candidates" width="600" height="400"></canvas>
</div>